    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
        background: #fbfbfb;


    }

    nav img {
        height: 40px;
        width: 80px;
        margin-top: 5px;
        margin-left: 15px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        gap: 50px;
        margin-right: 200px;
    }

    nav button {
        height: 20px;
        width: 100px;
        border-radius: 7px;
        background: whitesmoke;
        margin-top: 5px;
        margin-left: 25px;
        border: 3px solid rgb(124, 121, 121);
    }

    main a img {
        display: flex;
        margin-top: 230px;
        margin-left: 170px;
        height: 180px;
        width: 200px;
    }

    main div img {
        height: 300px;
        width: 270px;
        display: flex;
        margin-top: -340px;
        margin-left: 60px;
    }

    .img {
        display: flex;
        height: 50px;
        width: 80px;
        gap: 400px;
        margin-left: 560px;
        margin-top: -350px;
    }

    li :nth-child(2) {
        position: relative;
        left: 50px;
        top: 40px;

    }

    body nave ul a {
        margin-left: 730px;
    }

    main h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        font-size: 80px;
        margin-left: 330px;



    }

    main p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 15px;
        margin-left: 200px;
        color: rgb(75, 74, 74);
    }

    main div b {


        margin-left: 550px;
        margin-top: 60px;
        gap: 30px;
        color: #000000;
        gap: 25px;


    }

    .first {
        border-radius: 5px;
        border-style: 2px;
    }

    .icon {
        color: whitesmoke;
        background-color: #000000;
        border-radius: 5px;

    }

    body footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;


    }

    body footer div a {
        display: flex;
        gap: 15px;
        margin-left: 30px;
        height: 20px;
        width: 30px;



    }

    body footer div p {
        align-self: center;
        margin-left: 50px;
    }