   /* nav {
       display: flex;
       flex-direction: row;
       margin-top: 20px;
       margin-left: 100px;

   }

   nav ul {
       display: flex;
       flex-direction: row;
       list-style: none;
       gap: 60px;
       color: rgb(63, 61, 61);
       font-size: 15px;
   }

   nave a {
       height: 15px;
       width: 10px;

   }

   main {
       display: flex;
       flex-direction: column;
       margin-top: 160px;
       margin-left: 100px;
   }

   main button {
       height: 30px;
       width: 100px;
       background: rgb(61, 152, 105);
       color: whitesmoke;
       font-size: 12px;
       border-radius: 5px;
       border-style: none;
   }

   main h1 {
       color: black;
       font-size: 53px;
   }

   .img {
       display: flex;
       height: 200px;
       width: 550px;
       gap: 30px;
       padding-left: 500px;
       padding-top: 200px;
   }

   .image {
       display: flex;
       height: 180px;
       width: 180px;
       margin-left: 640px;


   }

   .hello {
       display: flex;
       margin-left: 600px;
       margin-top: 300px;
   } */